<!-- Jinja file including all Reset Password Page content -->
{% extends "homepage/header.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="container">
    <form method="POST">
      <!-- Token block needed for added security -->
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Reset Password</legend>
        <!-- Imported form.py and is using add on Crispy forms to enhance look-->
        {{ form|crispy }}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Reset Password</button>
      </div>
    </form>
  </div>
{% endblock %}
