{% extends "homepage/header.html" %}
{% block content %}
<div class="container">
  <form action="/postsignin/" method="post">
    {% csrf_token %}
    <p>Email</p>
    <input type="email" name="email">
    <p>password</p>
    <input type="password" name="pass">
    <p><input type="submit" value="Sign In"></p>
  </form>
  <p id="sign-in-message" class='text-danger'></p>
  <p><a href="{% url 'signup' %}">Don't have an account? Sign Up!</a></p>
</div>
{% if messg %}
  <script>
    var message = '{{messg}}'
    $('#sign-in-message').html(message);
  </script>
{% endif %}
{% endblock %}
