{% extends "homepage/header.html" %}
{% block content %}
<div class="container">
  <form action="/postsignup/" method="post">
    {% csrf_token %}
    <p>Name</p>
    <input type="text" name="name">
    <p>Email</p>
    <input type="email" name="email">
    <p>password</p>
    <input type="password" name="pass">
    <p><input type="submit" value="Sign Up" onclick="location.href='{% url 'signup' %}'"></p>
  </form>
  <p id="sign-in-message" class='text-danger'></p>
  <p><a href="{% url 'signin' %}">Already have an account? Sign In!</a></p>

</div>
{% if messg %}
  <script>
    var message = '{{messg}}'
    $('#sign-in-message').html(message);
  </script>
{% endif %}
{% endblock %}
