<!--Contact Us snippet of homepage -->
{% block content %}
<style>
  #inputMessage{
    height:200px;
    font-size:14pt;
}
</style>
<div id="contactus">
  <div class="container-fluid" style="background-color: #FF8A00;">
    <div class="container">
      <form class="form-signin">
        <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal text-center" style="color:#fff;">Contact Us</h1>
        <!-- Name textbox -->
        <label for="inputName" class="sr-only">Name</label>
        <input type="name" id="inputName" class="form-control" placeholder="Name" required autofocus>
        <br>
        <!-- Email textbox -->
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <br>
        <!-- Message textbox - using textare instead of input so it can be multiline-->
        <label for="inputMessage" class="sr-only">Message</label>
        <textarea name="message" class="form-control" placeholder="Message" id="inputMessage"></textarea>
        <div class="checkbox mb-3">
        </div>
        <button class="btn btn-lg btn-primary btn-block"  type="submit">Send</button>
        <br>
      </form>
    </div>
  </div>
</div>
{% endblock %}
