<!-- Pricing snippet of homepage -->
{% block content %}
<div id="pricing">
  <br>
  <br>
  <div class="container-fluid" style="background-color: #fff;">
    <br>
    <br>
    <br>
    <div class="card-deck mb-12 text-center">
      <!-- card one -->
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Free</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
          <ul class="list-unstyled mt-4 mb-4">
            <li>2 Connected Accounts</li>
            <li>Limited Analytics</li>
            <li>Instagram Support</li>
            <li>Facebook Support</li>
            <li>Email support</li>
            <li>Help center access</li>
            <br>
            <br>
            <br>
            <br>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-primary" style="border-color:#FF8A00; color:#fff; background-color:#FF8A00;" onclick="window.location.href='{% url 'register' %}'">Start for Free</button>
        </div>
      </div>
      <!-- card two -->
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Basic</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$9.99 <small class="text-muted">/ mo</small></h1>
          <ul class="list-unstyled mt-4 mb-4">
            <li>Unlimited Connected Accounts</li>
            <li>Unlimited Analytics</li>
            <li>Instagram Support</li>
            <li>Facebook Support</li>
            <li>Twitter Support</li>
            <li>Youtube Support</li>
            <li>Priority email support</li>
            <li>Help center access</li>
            <br>
            <br>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-primary" style="border-color:#FF8A00; color:#FF8A00; background-color:#fff;">Coming Soon</button>
        </div>
      </div>
      <!-- card three -->
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Premium</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$59.99 <small class="text-muted">/ mo</small></h1>
          <ul class="list-unstyled mt-4 mb-4">
            <li>Unlimited Connected Accounts</li>
            <li>Unlimited Analytics</li>
            <li>Instagram Support</li>
            <li>Facebook Support</li>
            <li>Twitter Support</li>
            <li>Youtube Support</li>
            <li>Phone and email support</li>
            <li>Help center access</li>
            <br>
            <br>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-primary" style="border-color:#FF8A00; color:#FF8A00; background-color:#fff;">Coming Soon</button>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
  </div>
</div>
{% endblock %}
