<!-- reviews and about snippet of homepage -->
{% block content %}
<div id="about">
  <div class="container-fluid" style="background-color: #FF8A00;">
    <div class="container">
      <div class="page-header">
        <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
          <h1 class="display-5" style="color:#fff;">Why Use iBlinkco</h1>
        </div>
      </div>
      <p class="text-center font-weight-bold" style="color:#fff;">We at iBlinkco believe that small businesses should all have an equal opportunity to grow. iBlinkco will maximize your online presence by providing you with elite analytics using our social media dashboard software. We are different from our competitors, we offer extraordinary service at reasonable prices</p>
      <br>
    </div>
    <br>
    <div class="container">
      <div class="row">
        <!-- Corporate.ly review column -->
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="card" style="background-color: #fff;">
            <p>
              Corporate.ly is a business development LLC located in Oakland California. Our company had a website but had no social media presence. We turned to iBlinkco to create a social media platform. iBlinkco managed our instagram account and we recieved hundreds of likes and many direct messages in under a week.<br>- Akeem Brown<br><b>Corporate.ly</b>
            </p>
            <br>
            <br>
          </div>
        </div>
        <!-- Shoboss Entertainment Djs review column -->
        <div class="clearfix visable-md">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="card" style="background-color: #fff;">
            <p>
              I own a company called Shoboss Entertainment Djs. It is a disc jockey company which is located in the Sacramento Area. Our company didn't have any social media accounts, so we turned to iBlinkco and we gained results instantly. Before iBlinkco, we relied on personal connections and word of mouth only. But now iBlinkco helped us get our name out into the world. Our instagram gained 100 followers within a week and includes a video with hundreds of views.<br>- Michael Briggs<br><b>Shoboss Entertainment Djs</b>
            </p>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>
{% endblock %}
