<!-- Jinja file including all homepage content -->
{% extends "homepage/header.html" %}

{% block content %}
  <h1>Automatic Likes and Follows</h1>
  <div class="container">
    <br>
    <p>scheduled operation here:</p>
    <br>
    <div class="container">
      <button type="button" class="btn btn-primary" id="show-form-schedule-likefollow" data-toggle="modal" data-target="#schedule-form-likefollow">Schedule Operation</button>
    </div>
  </div>
  <!-- Schedule popup -->
  <div class="modal fade" id="schedule-form-likefollow" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Schedule Operation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form action="" method="post">
            <select class="" name="">
              <option value="instagram">Instagram</option>
              <option value="twitter">Twitter</option>
            </select>
            <br>
            <br>
            Date:<input type="date" name="date" value="">
            Time:<input type="text" id="scrollDefaultExample" value="">
            <p><input type="text" name="like-favorite" value="" style="width:15%" placeholder="Likes/Favorites"></p>
            <p><input type="text" name="" value="" style="width:15%" placeholder="Follow"></p>
            <p><input type="text" name="" value="" placeholder="Hashtags"></p>
            <input type="submit" name="submit" value="Submit">
          </form>
        </div>
      </div>
    </div>
  </div>
  <script>
    //Time picker
    $('#scrollDefaultExample').timepicker({ 'scrollDefault': 'now' });

    //Show and hide
    // Disconnect functions
    $("#show-form-schedule-likefollow").click(function() {

    })
  </script>
{% endblock %}
