<!-- Jinja file including all homepage content -->
{% extends "homepage/header.html" %}

{% block content %}
<style media="screen">
  .circle-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
}
  </style>
<h1>Schedule Post</h1>
<div class="container">
  <br>
  <p>scheduled post here:</p>
  <br>
  <button type="button" class="btn btn-primary" id="show-form-schedule-post" data-toggle="modal" data-target="#schedule-form-post">Schedule Post</button>
</div>

<!-- Schedule popup -->
<div class="modal fade" id="schedule-form-post" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Schedule Post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form action="" method="post">
          {% csrf_token %}
          <input type="file" name="post-image" accept="image/*">
          <br>
          Date:<input type="date" name="date" value="">
          Time:<input type="text" id="scrollDefaultExample" value="">
          <br>
          Description:
          <br>
          <textarea name="description" rows="6" cols="40"></textarea>
          <br>
          Upload On:
          <br>
          Instagram:<input type="checkbox" name="instagram-check">
          Facebook:<input type="checkbox" name="facebook-check">
          Twitter:<input type="checkbox" name="twitter-check">
          <br>
          <input type="submit" name="submit" value="Submit">
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  //Time picker
  $('#scrollDefaultExample').timepicker({
    'scrollDefault': 'now'
  });

  //Show and hide
  // Disconnect functions
  $("#show-form-schedule-post").click(function() {

  });
</script>
{% endblock %}
